@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  /* overflow-x: hidden; */
}

.container {
  width: 95%;
  margin: auto;
}

.show {
  transform: translate(0);
}

/* Nav style */

.logo {
  cursor: pointer;
  width: 70px;
}

.icon1 {
  position: absolute;
  /* left: 8.5em; */
  right: 8px;
  font-size: 1.5em;
  transform: translate(0px, -160px);
  /* display: none; */
  transition: .2s cubic-bezier(.25,.78,.8,.38);
  color: rgb(34, 4, 59);
}

.icon2 {
  font-size: 1.5em;
  position: absolute;
  right: 6px;
  /* display: none; */
  transform: translate(0, -170px);
  transition: .2s cubic-bezier(.25,.78,.8,.38);
  z-index: 9999;
  color: rgb(252, 110, 16);
}


.heads {
  padding: 10px;
  /* margin-bottom; */
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.lists {
  /* transform:  translate(0 ,-280px); */
  transform: translate(0);
  display: block;
  transition: all .3s ease;
}

.lists li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  font-weight: 500;
  border: 3px solid  transparent;
  border-radius: 10px;
}

.lists a {
  color: rgba(10, 10, 10, 0.945);
  text-decoration: none;
}

.lists li:hover {
  color: rgb(252, 110, 16);
  transition: .3s ease-in-out;
  border-bottom: 3px solid rgb(252, 110, 16);
}

li.sub  {
  background-color: rgb(252, 110, 16);
  color: #000;
  font-weight: 900;
  padding: 10px 15px;
  border-radius: 8px;
}

/* Hero section style */

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card1 {
  width: 45%;
  margin-right: 10px;
}

.hero-img {
  width: 85%;
  height: 100%;
}

.card2 {
  width: 55%;
}

.card2 h2{
  font-size: 31px;
  font-weight: 900;
  letter-spacing: -1.6px;
  margin-bottom: 1.3em;
}

.parag {
  color: rgb(77, 76, 76);
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 1.6em;
}

.avatar {
  width: 50px;
  margin-right: 16px;
}

.ava {
  display: flex;
  align-items: center;
  /* text-align: center; */
  /* justify-content: space-between; */
  /* width: 50%; */
}

h6 {
  display: inline;
  font-size: 17px;
}

#root > div > div.container.card > div.card2 > div > div > p {
   display: inline;
   font-size: 15px;
   color: rgb(77, 76, 76);
   text-transform: capitalize;
   font-weight: 700;
 }

 /*End Hero section style */

 /* Section style */

 .flex {
   margin-top: 2.8em;
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: space-between;
 }

 .flex1 {
   width: 33%;
 }

 .Article1 {
   width: 100%;
 }

 .flex2 {
  width: 33%;
}

.Article2 {
  width: 100%;
}

.flex3 {
  width: 33%;
}

.Article3 {
  width: 100%;
}

.header {
  font-size: 1.6em;
  font-weight: 800;
  width: 10em;
  letter-spacing: -1.6px;
}

.graphs {
  color: rgb(77, 76, 76);
  font-size: 14px;
  font-weight: 800;
  line-height: 28px;
  width: 18em;
  margin-bottom: 1.6em;
}

.cuts-name {
  column-rule: #000;
  font-size: 17px;
  font-weight: 800;
}

.tag-name {
  display: inline;
  font-size: 13px;
  color: rgb(77, 76, 76);
  text-transform: capitalize;
  font-weight: 700;
}

/* end of section style*/

/* Footer styles */

.foot {
  margin-top: 3em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

p {
  color: rgb(77, 76, 76);
  font-size: 12px;
  font-weight: 400;
  margin-top: .7em;
}

 /* tab media query style */
 @media (min-width: 590px) and (max-width: 863px) {
   /* Hero media query style */

  body {
    /* overflow-x: hidden; */
  }

  .card {
    flex-direction: column;
  }

  .card1 {
    width: 100%;
  }

  .card2 {
    width: 100%;
  }

  .card2 h2 {
    width: 84%;
    margin-bottom: 0.8em;
  }

  .hero-img {
    width: 100%;
  }

  /*  Section media query style */
  .flex {
    flex-direction: column;
  }

  .flex1, .flex2, .flex3 {
    width: 100%;
  }

  .header, .graphs {
    width: 100%;
    margin-top: 20px;
  }

}

/* mobile media query style */

@media (max-width: 590px) {
  /* nav media query */
  .lists {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(34, 4, 59, 0.87);
    padding: 17px;
    transform:  translate(0 ,-280px);
    /* transform:  translate(0); */
    border-radius: 8px;
    /* display: none; */
    transition: all .3s ease;
  }

 .lists li {
    display: block;
  }

  .lists li:hover {
     border: 3px rgb(252, 110, 16) solid;
     transition: ease-in-out .3s;
  }

  .lists a {
    color: #fff;
  }

  .icon1 {
    transform: translate(0);
    /* display: block; */
    cursor: pointer;
  }

  .icon2 {
    /* transform: translate(0, 0); */
    /* position: absolute; */
    /* display: none; */
  }
     /* Hero media query style */

     .card {
      flex-direction: column;
    }
  
    .card1 {
      width: 100%;
    }
  
    .card2 {
      width: 100%;
    }
  
    .card2 h2 {
      width: 84%;
      margin-bottom: 0.8em;
    }
  
    .hero-img {
      width: 100%;
    }
  
    /*  Section media query style */
    .flex {
      flex-direction: column;
    }
  
    .flex1, .flex2, .flex3 {
      width: 100%;
    }
  
    .header{
      width: 10em;
      margin-top: 20px;
    }

  .graphs {
    width: 18em;
    margin-top: 20px;
  }

  /* footer media query style */
  .foot {
    flex-direction: column;
    justify-content: space-between;
  }
  
}